backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

media_folder: static/images
public_folder: /images

collections:
  - name: "article"
    label: "Article"
    folder: "content/articles"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{fields.slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "blog-post",
        }
      - { label: "Titulo", name: "title", widget: "string" }
      - { label: "Url", name: "slug", widget: "string" }
      - { label: "Autor", name: "autor", widget: "string" }
      - { label: "Data de publicação", name: "date", widget: "datetime" }
      - { label: "Data modificada", name: "dateModified", widget: "datetime" }
      - { label: "Descricao", name: "description", widget: "text" }
      - { label: "Postagem em destaque?", name: "featuredPost", widget: "boolean" }
      - { label: "Categoria", name: "category", widget: "string" }
      - { label: "Tags", name: "tags", widget: "list" }
      - { label: "Image em destaque", name: "featuredImage", widget?: image }
      - { label: "Texto", name: "body", widget: "markdown" }
